<h1>Edit School class</h1>

<%= form_for(@school_class) do |s| %>
  <%= s.label :school_class_title %>
  <%= s.text_field :title %>
  <%= s.label :school_class_room_number %>
  <%= s.text_field :room_number %>
  <%= s.submit %>
<% end %>
